body {
  background: url('https://images.unsplash.com/photo-1551730458-be400bef0161?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin-left: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.landingPage {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  font-size: xx-large;
  margin-left:450px;
  font-family:'Times New Roman', Times, serif
}

.landingPage button{
  -webkit-text-stroke-width: 0px;
  font-size:  18px;
  padding: 20px;

}

.landingPage button:hover{
  cursor:pointer;
}


.homeHeader{
  margin-right: 120px;
  display: flex;
  flex-flow: row wrap;
  position: relative;
  top:25px;
  margin-bottom: 40px;
  justify-content: flex-start;
  align-items: flex-start;
}

.homeHeader img{
  width: 30px;
  height: 30px;
  margin-left: 133px;
  margin-right: 20px;
}

.homeHeader h1{
  
  margin-top: -5px;
  font-size: 30px;
  color: black;
  text-decoration: none;
  
}

.homeHeader .space{
  flex-grow: 1;
}

.cards{
  display: inline-flex;
  align-content: space-around;
  flex-flow:row wrap;
  justify-content: center;
  position:top;
  margin: 0;
  padding: 0;
  list-style: none;
  
}

.creationDog{
  background-color: #F2F2F2;
}

.creationDog ul{
  list-style:none
}

.card{
  padding: 10px;
  margin:10px;
  height: 350px;
  width: 250px;
  background-color: #F2F2F2;
  color: black;
  text-decoration: none;
  border-radius: 5px;

}
.card img{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  height: 150px;
}

.pages{
  margin-right: 30px;
  background-color: #F2F2F2;
  padding-left: 0;
  display: inline-block;
  list-style: none;
  border-radius: 5px;
}


.number{
  width:20px;
  color:black;
  float:left;
  padding: 5px;
  text-decoration: none;
  border-radius: 5px;

}

.number:visited{
  background-color: black
}

.number:hover{
  background-color: lightslategray;
  cursor: pointer;
}

.number:active{
  background-color: lightseagreen;
}

.table{
  text-align: center;
}

.detail{
  background-color: #F2F2F2;
}
/*
.pages{
  all:none
}

li{
  background-color: lightgrey;
  width: 200px;
  
  padding: 2px 5px;
  border: 1px solid black;
} */
