body {
  background: url('https://images.unsplash.com/photo-1551730458-be400bef0161?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




.cards{
  display: inline-flex;
  align-content: space-around;
  flex-flow:row wrap;
  justify-content: center;
  position:top;
  margin: 0;
  padding: 0;
  list-style: none;
  
}

.card{
  padding: 10px;
  margin:10px;
  height: 350px;
  width: 200px;
  background-color: lightgray;
  color: black;
  text-decoration: none;
  border-radius: 5px;

}
.card img{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  height: 150px;
}

.pages{
  margin-right: 30px;
  background-color: white;
  padding-left: 0;
  display: inline-block;
  list-style: none;
  border-radius: 5px;
}

.number{
  width:20px;
  color:black;
  float:left;
  padding: 5px;
  text-decoration: none;
  border-radius: 5px;

}

.number:visited{
  background-color: gray
}

.number:hover{
  background-color: lightslategray;
  cursor: pointer;
}

.number:active{
  background-color: lightgray;
}

.table{
  text-align: center;
}
/*
.pages{
  all:none
}

li{
  background-color: lightgrey;
  width: 200px;
  
  padding: 2px 5px;
  border: 1px solid black;
} */
